@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Page Styles */
.home-main-container {
  padding-top: 120px;
}

@media (max-width: 1024px) {
  .home-main-container {
    padding-top: 96px;
    /* Reduced for tablet */
  }
}

@media (max-width: 768px) {
  .home-main-container {
    padding-top: 80px;
    /* Reduced for mobile */
  }
}